.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFEFFA;
  display: flex;
  justify-content: center;
  align-items: center
}

.calculadora{
  background-color: #FF8F8F;
  width: 25vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.tela-calculadora{
  background-color: #F1F1F1;
  width: 80%;
  height: 15%;
  border-radius: 30px;
  margin-left: 10%;
  margin-top: 10%;
}

.botoes-conjunto{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 10%;
  justify-content: center;
  align-items: center
}


.botao{
  background-color: #F1F1F1;
  color: #000;
  width: 15%;
  height: 200%;
  border-radius: 20px;
  margin: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}





















@media (max-width: 980px) {
  .calculadora {
    width: 60%; /* Ajuste conforme necessário para telas menores */
    padding-top: 0%; /* Mantém a proporção 1:1 */
  }
}
